<!-- <form class="px-4 py-3">
    <div class="mb-3">
      <label for="exampleDropdownFormEmail1" class="form-label">Username</label>
      <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
    </div>
    <div class="mb-3">
      <label for="exampleDropdownFormPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
    </div>
    <div class="mb-3">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="dropdownCheck">
        <label class="form-check-label" for="dropdownCheck">
          Remember me
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form> -->
  <!-- <form class="login">
    <input type="text" placeholder="Username">
    <input type="password" placeholder="Password">
    <button>Login</button>
  </form> -->
<!-- <body>
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<div class="logo"></div>
<div class="login-block">
    <label>Login</label>
    <form #form="ngForm" autocomplete="off" (submit)="checkUser(form)">
    <input type="hidden" name="Id" [value]="objservice.mdata.MId">

    <i class="fa fa-user-circle-o" aria-hidden="true" ></i>
          <input name="user" id="user"  placeholder="Username"  required>

    <i class="fa fa-user-circle-o" aria-hidden="true" ></i>
          <input type="password" name="Pass" id="pass" placeholder="Password"  required>
    <button>Submit</button>
    </form>
</div>
</body> -->
<body>
  
<div class="container-fluid" style="margin-top: 10%;">
  <div class="row">
    <div class="offset-lg-3 col-lg-6">
   
<div class="card" style="background-color: #ccc;">
    <form [formGroup]="form" (ngSubmit)="ProceedLogin()">

   
    <div class="row" style="display: block;">
      <h2 style="text-align: center;" >Login</h2>
    </div>
    
  <div class="row">
    <div class="offset-lg-3 col-lg-6">
        <div class="form-group">
            <label for="txtname">UserName</label>
            <input type="text" id="txtname" class="form-control" formControlName="username" placeholder="User Name"   autocomplete="off"  />
        </div>
    </div>
  </div>
  <div class="row">
    <div class="offset-lg-3 col-lg-6">
        <div class="form-group">
            <label for="txtpassword">Password</label>
            <input type="text" id="txtpassword" class="form-control" formControlName="password"  placeholder="Password"  autocomplete="off"  />
        </div>
    </div>
  </div>
  
  
  <div class="row">
    <div class="offset-lg-3 col-lg-2">
      <br>
        <div class="form-group" style="text-align: center;">
           <button type="submit" class="btn btn-primary btn-lg btn-block" >Login</button>
        </div>
    </div>
    <div class="col-lg-3">
        <br>
        <span></span>
    </div>
  </div>
</form>
  
  </div>
</div>
</div>
</div>
</body>
 
 



